*{
    margin: 0;
    padding: 0;
}
/* for font */
body{
    font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif;
/* header styles */
}
.banner{
    background: url("../images/Banner-Image.png");
    background-repeat: no-repeat;
    width: auto;
   background-size: 100% 100%;
height: 600px;
background-position: center;

padding-top: 50px;
    flex-shrink: 0;
margin:50px 140px 120px 140px ;



}
.head-text{
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 32px;
    
    font-weight: 400;
   padding-top: 177px;

}
.head-text1{
    width: 632px;
    color: #FFF;
text-align: center;
font-family: 'Merriweather', serif;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px; /* 131.944% */
margin: 0 auto;
}
/* main styles */
.section-1{
    text-align: center;
}
.text2{
    color: #F00;

    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 88px;
    
    font-weight: 700;
    
}
.text3{
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
   
    font-weight: 500;
   
}
.text4{
    color: #070211;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    
    font-weight: 700;
   
}
.section1{
    background: url("../images/New-Year-Photo.png");
    width: 802.9px;
height: 500px;
flex-shrink: 0;
background-position: center;
margin: 48px auto 120px ;
}
/* section-2 styles  */
.section-2{
background: url("../images/Vectorrr.png");
width: auto;
height: 600px;
flex-shrink: 0;
background-size: 100% 100%;
background-position: center;
margin: 0 140px 120px 140px;
max-width: 1;

display: flex;



justify-content: space-between;

}
.text5{
    width: 642px;
    color: #FFF;
    font-family: 'Merriweather', serif;
font-size: 64px;
font-weight: 900;
line-height: 88px; /* 137.5% */
letter-spacing: 7.04px;
padding: 126px 94px 24px 126px;
}

.text6{
    color: #FFF;
/* text-align: center; */
font-family: 'Inter', sans-serif;
font-size: 20px;

font-weight: 700;
text-transform: uppercase;
padding: 0 617.96px 142px 158px;
}

/* all small text styles */
.small-text{
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
font-size: 18px;

font-weight: 400;
line-height: 30px; /* 166.667% */
padding: 0 39.17px 48px 126px;
}
.section-2-pic{
    padding: 68.11px 138px 67.23px 0;
   background-attachment: ;
}
.section-3{
    text-align: center;
   background:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
margin: 0 140px 120px 140px;
background-position: center;
background-size: 100% 100%;
 width: auto;
height: 482px;
flex-shrink: 0;
}
.stext{
    color: #F00;
}
.all-stext{
    color: #070211;
    font-family: 'Inter', sans-serif;
font-size: 32px;

font-weight: 600;
line-height: 56px;
text-transform: capitalize;
padding: 100px 386px 48px 386px;
}
.button1{
    color: #FFF;
font-family: 'Inter', sans-serif;
font-size: 20px;
font-weight: 700px;
text-transform: uppercase;
text-decoration: none;
border: 15px;
display: inline-flex;
padding: 16px 32px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: #F00;
}


/* section 4 styles */

.bonous{
    background-color: #FFF;
    width: auto;
    height: 482px;
background-position: center;
display: flex;
background-size: 100% 100%;
margin: 0 140px 120px 140px;
flex-shrink: 0;
justify-content: space-between;
}
.red-color{
    color: #F00;
/* text-align: center; */
font-family: 'Inter', sans-serif;
font-size: 24px;
font-weight: 500;

}
.text7{
    color: #070211;
    font-family: 'Merriweather', serif;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;
}
.offer-text{
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
font-size: 20px;
font-weight: 400;
line-height: 32px; /* 160% */
}
.red-button{
    color: #F00;
    font-family: 'Inter', sans-serif;
font-size: 48px;
font-weight: 700;
}
.offer-text1{
    width: 276px;
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
font-size: 20px;
font-weight: 400;
line-height: 32px; /* 160% */
}
.bonous2{

flex-shrink: 0;
border-radius: 100%;
border: 15px solid #F00;
padding: 49px;
}
/* section five styles */
.section-5{

}
.big{
    color: #F00;
text-align: center;
font-family: 'Merriweather', serif;
font-size: 72px;

font-weight: 900;

}
.big-class{
    color: #070211;
    font-family: 'Merriweather', serif;
font-size: 72px;
font-weight: 900;

}
.text9{
    color: #070211;
    font-family: 'Inter', sans-serif;
font-size: 24px;
font-weight: 500;
}
.text10{
    width: 1068px;
    color: rgba(7, 2, 17, 0.60);
font-family: 'Inter', sans-serif;
font-size: 20px;
font-weight: 500;
line-height: 32px; /* 160% */
margin-left: auto;
margin-right: auto;
}
.section5-div{
    text-align: center;
    
}

/* section six styles */
.section-six{
    background: #FFF;
    background-repeat: no-repeat;
    width: auto;
    background-size: 100% 100%;
    height: 1163px;
  
background-position: center;
padding: 60px 140px 120px 140px;
flex-shrink: 0;

}
.text11{
    color: #F00;
    font-family: 'Inter', sans-serif;
font-size: 24px;
font-weight: 500;
}
.text12{
    color: #070211;
    font-family: 'Merriweather', serif;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;
}
.text13{
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
font-size: 20px;
font-weight: 400;
line-height: 32px; /* 160% */
}
.imgdiv{
    text-align: center;
    justify-content: space-between;
}


/* section seven styles */
.section-seven{
    width: auto;
    height: 616px;
    flex-shrink: 0;
    border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
background-position: center;
background-size: 100% 100%;
text-align: center;
margin: 0 140px 120px 140px;
}
.emailimg{
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    padding-top: 80px;
}
.text15{
    color: #070211;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;

}
.text16{
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
font-family: 'Inter', sans-serif;
font-size: 20px;
font-weight: 400;
line-height: 32px; /* 160% */
/* display: flex; */
margin-left: auto;
margin-right: auto;
}
.subscribe{
display: block;
margin-left: auto;
margin-right: auto;
}
input{
    width: 648px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 50px 0 0 50px;
background: #FFF;
}
.buttons{
    width: 210px;
height: 72px;
flex-shrink: 0;
    padding: 10px 15px;
    border-radius: 0px 50px 50px 0px;
background: #F00;
padding-left: 0;
}
::placeholder{
    padding-left: 30px;
}


/*footer section styles  */
.footer-section{
    background: #070211;
    width: 100%;
    height: 609px;
    flex-shrink: 0;
}
.footer-div{
    display: flex;
    justify-content: space-between;
}
.iconall{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}
.phone{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px; /* 166.667% */
}
.web{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px; /* 166.667% */
}
